<% provide(:title, "Write Page #{@page_number}")%>

<p class="right"><%= link_to "Restart the story", root_path %></p>

<h1>Write Page <%= @page_number %></h1>

<% if @page.errors.any? %>
	<div class="error">
		<div>The form contains <%= plurarlize(@page.errors.count, "error") %>.</div>
		<ul>
			<%= @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(@page) do |f| %>

	<%= f.label :story_text, "Story" %><br />
	<%= f.text_area :story_text, rows: 15 %>
	
	<%= f.label :choice_1 %><br />
	<%= f.text_field :choice_1, maxlength: 255 %>

	<%= f.label :choice_2 %><br />
	<%= f.text_field :choice_2, maxlength: 255 %>
	
	<%= f.hidden_field :page_num, value: @page_number %>
	
	<%= f.submit "Post this page" %>

<% end %>